.abs-para {
  margin: 20px;
  font-size: 1rem;
}
.maroon-abs {
  color: black;
}
.abs-topics {
  margin: 20px;
}
.abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.abs-gray {
  /* background-color: #d2d8dd; */
  padding: 20px;
}
.abs-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pdf,
.abs-btn {
  width: 90%;
  padding: 20px;
  background-color: #450808;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 11px;
  display: flex;
  justify-content: center;
}

.abs-btn {
  margin-left: 10px;
}

.abs-none {
  text-decoration: none;
  color: white;
  width: 100%;
}

.abs-journal {
  margin: 20px;
}
.abs-index {
  margin: 20px;
}

.index-img {
  max-height: 70px;
}

.abs-Template {
  width: 100%;
}

.index-images {
  display: flex;
  /* justify-content: space-evenly;
  align-items: center; */
}

.journals {
  columns: 2;
  margin-top: 30px;
  /* display: flex;
  justify-content: space-evenly;
  text-align: center; */
}

.journal-images {
  max-height: 150px;
  margin: 20px 0;
}
