.three {
  height: 60vh;
  background-color: #d2d8dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-padding: -20px;
}

.timeline ul li {
  margin-top: 20px;
  font-size: 18px;
}
