.speakers{
    margin: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.speakercont{
    width: 100%;
    margin-top: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.onespeaker{
    margin-bottom: 75px;
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.speakerimg{
    width: 150px;
    aspect-ratio: 1;

    object-fit: cover;
    object-position: top;
    border-radius: 100px;
    margin-bottom: 10px;
}